/bin
/build3/gmake
/build_cmake/
build/
xcode/
xcode4/
xcode4ios/
.DS_Store
.vscode

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs
